
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {				/* CSS Reset (for IE to play nicely) */
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	}
	
body {
	background: #000000;
	color: #ffffff;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	}
	
a {
	text-decoration: none;
	color: #bfbfbf;
	}	

p {
	font-size: 12px;
	}	
	
h1 {
	margin-top: 20px;
	font-size: 1.1em;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-weight: normal;
	letter-spacing: 0.2em;
	}
h3 {
	font-size: 1.1em;
	font-family: Arial, Verdana, Geneva, sans-serif;
	font-weight: normal;
	letter-spacing: 0.2em;
	color: #b8babb;
	}
	
#wrap {
	width: 1000px;
	margin: auto;
	}
	
#header {
	width: 1000px;
	}
	
#left {
	width: 200px;
	float: left;
	}

#menu {
	list-style-type: none;
	margin-top: 40px;
	margin-bottom: 40px;
	}
	
#left h1 {
	text-align: center;
	}

#left p {
	text-align: center;
	}
	
#left #p1 {
	margin-bottom: 5px;
	}

#menu li a {
	width: 200px;
	text-align: center;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	}
	
#menu a:hover {
	color: #7a8aef;
	}	
	
#current {
	color: #7a8aef;
	}	
	
	
#menu li {
	border-bottom: 1px solid #181818;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	}
	
#content {
	width: 500px;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	}
	
#content p {
	color: #b8babb;
	line-height: 160%;
	margin-bottom: 20px;
	}

	
#content h1 {
	margin-bottom: 54px;
	}

#content li {
	font-size: 12px;
	color: #b8babb;
	list-style-type: none;
	}
	
#content ul {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	}
	
	
#sidebar {
	width: 200px;
	float: right;
	}
	
#sidebar h1 {
	text-align: center;
	margin-bottom: 54px;
	}
	
	
.date {
	margin-bottom: 10px;
	}
	
#sidebar p {
	margin-bottom: 10px;
	}	
	
#canvas {
	 background: url('images/snooker_table_background.jpg') no-repeat black;
}